<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="userval">User Value:</label>
        <input type="text" id="userval" name="userval" required>
        <br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
